<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAV-Ny-P-8O6Ou_xnL1Y-QPGZK9Oc1Mug</string>
	<key>GCM_SENDER_ID</key>
	<string>146830096011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Maxi</string>
	<key>PROJECT_ID</key>
	<string>goals-435c3</string>
	<key>STORAGE_BUCKET</key>
	<string>goals-435c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146830096011:ios:ea8c6705d80e839cd3868e</string>
</dict>
</plist>